---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import Info from "../components/Info.astro";
import Features from "../components/Features.astro";
import Team from "../components/Team.astro";
import CallAction from "../components/CallAction.astro";
import Footer from "../components/Footer.astro";
import Line from "../components/Line.astro";
---

<Layout>
  <Navbar />
  <Banner />
    <Info />
  <Features />
  <Team />
  <CallAction />
  <div class="container-xxl px-0">
    <Line width="100%" height="10px" />
  </div>  
  <Footer />
</Layout>
