<section
  class="w-100 container-xxl d-grid"
  style="
    height: calc(100vh - 64px);
    background-image: url('/images/default.webp');
    background-size: cover;
    background-position: 35% center;
    background-repeat: no-repeat;
    margin-top: 64px;
    background-attachment: fixed;
  "
>
  <div class="row align-self-center p-0 px-md-5">
    <div class="col-12 col-md-7 bg-white p-4 p-md-5 d-flex gap-4 flex-column">
      <h1 class="display-1 fw-bold">Lorem ipsum dolor sit amet</h1>
      <p class="h4 fw-normal">
        Lorem ipsum dolor sit amet consectetur adipisicing
      </p>
      <div class="d-flex flex-column flex-md-row gap-4">
        <button type="button" class="btn btn-primary btn-lg">
          Suspendisse Ultrices
        </button>
        <button type="button" class="btn btn-outline-primary btn-lg">
          Incididunt Tempor
        </button>
      </div>
    </div>
  </div>
</section>
