<section class="container-xxl px-4 py-4 px-md-5 py-md-5 pt-md-0">
  <div class="d-flex flex-column flex-md-row align-items-center">
    <div class="col-12 col-md-7">
      <div class="text-center text-md-start d-flex flex-column gap-4">
        <h1 class="display-6 fw-bold">Lorem ipsum dolor sit amet</h1>
        <p class="h4 fw-normal">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna
        </p>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <div
        class="d-flex justify-content-center justify-content-md-end mt-4 mt-md-0"
      >
        <button type="button" class="btn btn-primary btn-lg w-auto">
          Consectetur Adipiscing
        </button>
      </div>
    </div>
  </div>
</section>
