<div class="d-grid justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <div
      class="image-wrapper"
      style="background-image: url('/images/default.webp'); 
    background-size: cover; 
    background-position: center;"
    >
    </div>
    <div class="text-white text-center text-md-start mt-4">
      <p class="fw-bold h5">Lorem ipsum dolor sit</p>
      <p class="mt-2">
        Lorem ipsum dolor sit amet <br /> consectetur
      </p>
    </div>
  </div>
</div>
<style scoped>
  .image-wrapper {
    position: relative;
    width: 200px;
    aspect-ratio: 1;
    background-color: #1e5eff;
    border-radius: 25% / 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    box-shadow: -15px 15px 0 #37383c4a;
  }
</style>
