---
const { urlImage, name, position } = Astro.props;
---

<div class="d-grid justify-content-center">
  <div class="d-flex flex-column align-items-center">
    <div
      class="image-wrapper"
      style={`background-image: url('${urlImage}');`}
    >
    </div>
    <div
      class="text-white text-center text-md-start mt-5"
      style="width: 240px;"
    >
      <p class="fw-bold h5">{name}</p>
      <p class="mt-2">
        {position}
      </p>
    </div>
  </div>
</div>
<style scoped>
  .image-wrapper {
    position: relative;
    width: 200px;
    aspect-ratio: 1;
    border-radius: 20%;
    box-shadow: -25px 25px 0 #37383c4a;
    background-size: cover;
    background-position: center;
    transform: rotate3d(1, 1, 1, 25deg);
  }
</style>
