---
import Mail from "./icons/Mail.astro";
import Phone from "./icons/Phone.astro";
import Pin from "./icons/Pin.astro";
---

<div class="text-start fw-normal d-flex flex-column gap-2 gap-md-1 text-white">
  <p>
    <span class="fw-medium d-inline-flex align-items-center gap-2">
      <Pin />
      Address:
    </span>
    1234 Palm Avenue Orlando, FL 32801, United States
  </p>
  <p>
    <span class="fw-medium d-inline-flex align-items-center gap-2">
      <Phone />
      Phone:
    </span>
    (305) 555-1234
  </p>
  <p>
    <span class="fw-medium d-inline-flex align-items-center gap-2">
      <Mail />
      Email:
    </span>
    info@companyname.com
  </p>
</div>
