---
import Contact from "./Contact.astro";
import Social from "./Social.astro";
---

<section class="container-xxl px-4 py-4 px-md-5 py-md-5 bg-secondary">
  <div class="d-flex flex-column flex-md-row" style="align-items: stretch; min-height: 100%;">
    <div class="col-12 col-md-6 d-flex flex-column">
      <Contact />
    </div>
    <div class="col-12 col-md-6 d-flex flex-column justify-content-between gap-4 mt-4 mt-md-0" style="min-height: 100%;">
      <Social />
      <span class="text-white text-start text-md-end mt-auto">
        Copyright (C) 2025 Company name rights reserved
      </span>
    </div>
  </div>
</section>
