---
import Line from "./Line.astro";
---

<section class="container-xxl px-4 py-4 px-md-5 py-md-5">
  <div class="text-center d-flex flex-column align-items-center gap-4">
    <h1 class="display-4 fw-bold">Lorem ipsum dolor sit amet</h1>
    <p class="h4 fw-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse
      ultrices gravida.
    </p>
    <Line width="200px" />
  </div>
</section>
