---
const { width = "100%", height = "6px" } = Astro.props;
---

<div class="progress-stacked" style={`width: ${width}; height: ${height}`}>
  <div class="progress" role="progressbar" aria-label="one" style="width: 10%">
    <div class="progress-bar bg-danger"></div>
  </div>
  <div class="progress" role="progressbar" aria-label="two" style="width: 15%">
    <div class="progress-bar bg-warning"></div>
  </div>
  <div
    class="progress"
    role="progressbar"
    aria-label="three"
    style="width: 75%"
  >
    <div class="progress-bar bg-primary"></div>
  </div>
</div>
