---
import Line from "./Line.astro";
---

<div class="d-flex flex-row gap-4 align-items-center">
  <Line width="100px" height="30px" />
  <div class="d-flex flex-column text-center">
    <span class="h4">
      <span class="fw-semibold">Company</span>Name
    </span>
    <span class="fw-light" style="font-size: 10px; font-family: monospace;letter-spacing: 0.2rem;">
      TAGLINE GOES HERE
    </span>
  </div>
</div>
