---
import Logo from "./Logo.astro";
---

<nav class="navbar bg-body-tertiary fixed-top border-bottom" style="height: 64px;">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" href="#">
      <Logo />
    </a>
  </div>
</nav>
