---
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
import { site } from "../settings/site";
---

<div class="d-flex gap-2 justify-content-start justify-content-md-end">
  <a href={site.social.facebook} target="_blank">
    <Facebook class="h3 text-white" />
  </a>
  <a href={site.social.instagram} target="_blank">
    <Instagram class="h3 text-white" />
  </a>
  <a href={site.social.linkedin} target="_blank">
    <Linkedin class="h3 text-white" />
  </a>
</div>
