---
import Facebook from "./icons/Facebook.astro";
import Instagram from "./icons/Instagram.astro";
import Linkedin from "./icons/Linkedin.astro";
---

<div class="d-flex gap-2 justify-content-start justify-content-md-end">
  <a href="https://www.facebook.com/" target="_blank">
    <Facebook class="h3 text-white" />
  </a>
  <a href="https://www.instagram.com/" target="_blank">
    <Instagram class="h3 text-white" />
  </a>
  <a href="https://www.linkedin.com/in/" target="_blank">
    <Linkedin class="h3 text-white" />
  </a>
</div>
